.labelGroup{
  .dropdown.dropdown1.dropdown2.dropdown3 {
    background-color: #e8e8e8 !important;
    color: rgba(0,0,0,0.45) !important;
    padding: .5833em .833em !important;
    padding-right: .833em !important;
    padding-left: 4.07143em !important;
    i { 
      background-color: inherit !important; 
      padding-left: .5rem;
    }
  }
}
