.selectRoom {
  width:30%;
}

.header{
  margin-bottom: 1rem;
  margin-top: 2rem;
  align-items: center;
  float: right;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  column-gap: 1rem;
}

#modal{
  width: 80%;
}

.expandRoomPlans{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem
}

