.container {
    display: flex; 
    justify-content: space-between; 
    margin: 0 0.5em 0.5em 0;
}

.addBtn {
    min-width: 270px;
    
    & > * {
        margin-left: 5px;
    }

    button {
        margin-left: 5px !important;
    }

    input {
        width: 100px;
    }
}